<footer>
  <div class="container">
    <!--div class="row">
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><a href="{{url_for('base.page', path='about')}}">About {{APP_NAME}}</a></li>
          <li><a href="{{url_for('base.page', path='faq')}}">Frequently Asked Questions</a></li>
          <li><a href="{{url_for('base.page', path='contact')}}">Contact us</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><a href="https://github.com/CodeForAfrica/connectedAFRICA">Source code</a></li>
          <li>Powered by <a href="http://granoproject.org/">grano</a></li>
          <li><a href="http://backend.connectedafrica.org">Backend login</a></li>
        </ul>
      </div>
    </div>
    <hr-->
    <div class="row">
      <div class="col-md-6">
        <p>
          {{APP_NAME}} explores the links between politics, power and money in West Africa. 
          It is a project of the <a href="http://cenozo.org" target="_blank">CENOZO</a>, with support
          from the <a href="http://www.okfn.org/" target="_blank">OKFN</a>.
        </p>
        <p>
          Content licensed under the terms of
          <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons 4.0 BY</a>
        </p>
      </div>
      <div class="col-md-3 col-sm-6 partners">
          <div class="section-title">Our Partner</div>
              <!--
              <a href="http://www.unodc.org/" target="_blank">
                <img src="/static/images/10.jpeg" alt="UNODC">
              </a>
            -->
              <a href="http://www.okfn.org/" target="_blank">
                <img src="/static/images/okfn_logo.png" alt="Open Knowledge International">
              </a>
      </div>
      <div class="col-md-3 col-sm-6 partners">
          <div class="section-title">Our Funder</div>
              <!--
              <a href="http://www.unodc.org/" target="_blank">
                <img src="/static/images/10.jpeg" alt="UNODC">
              </a>
            -->
              <a href="http://www.osiwa.org/" target="_blank">
                <img src="/static/images/osiwa_logo.jpg" alt="Open Society Initiative for West Africa">
              </a>
      </div>
    </div>
  </div>

</footer>
