_site/
*.DS_Store
*.jsonlog
.env
*.egg-info
pyenv/*
*.pyc
.cache
*.sublime*
.nanobox/*
boxfile.yml
Makefile
Makefile_old

build
dist

connectedafrica/static/vendor/*
connectedafrica/static/gen/*
connectedafrica/static/.webassets-cache/*
connectedafrica/settings.py
connectedafrica/default_settings.py
settings.py


data/.cache/*
data/gdocs/*.csv
data/npo/*.csv
data/npo/matched/*.csv
data/whoswho/*.csv
data/cipc_pdfs/*
data/profileimages.csv
data/degrees/*
data/gse/*.csv
data/pag/*.csv
data/wb_ghana_contracts/*.csv
data/ppa/*.csv


reports/*
